@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'),url('noto.woff2') format('woff');
}

html {
  scroll-behavior: smooth;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: #0983bf;
}


#main-txtbox {

width: 95%;
border: 0px;
overflow: hidden;
resize: none;
font-family: 'Noto';
color: #1A1A1B;
font-size: 14px;
line-height: 21px;
font-weight: 400;
padding-bottom: 500px;
margin-top: 47px;
max-width: 750px;
margin:47px auto 0px auto;
}

img {
	max-width: 100%;
	height: auto;

}

hr {
	width: 100%;
	border: #eee 1px solid;
	margin-bottom: 64px;
}

h1 {
	text-align: center;
	margin-bottom: 44px;
	line-height: 38px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

#tog {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	background-color: green;
	background-image: url( 'md.svg' );
	background-size: 39px;
	background-repeat: no-repeat;
	background-position: 11px;

}
#tog2 {
	position: fixed;
	right: 60px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	background-color: yellowgreen;
	background-image: url( 'u.svg' );
	background-size: 39px;
	background-repeat: no-repeat;
	background-position: 11px;
}


#tog3 {
	position: fixed;
	right: 120px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	background-color: yellow;
	background-image: url( 'db.svg' );
	background-size: 39px;
	background-repeat: no-repeat;
	background-position: 11px;
}


#toga {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	background-color: green;
	background-image: url( 'md.svg' );
	background-size: 39px;
	background-repeat: no-repeat;
	background-position: 11px;
}

#toga2 {
	position: fixed;
	right: 60px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	background-color: yellowgreen;
	background-image: url( 'del.svg' );
	background-size: 39px;
	background-repeat: no-repeat;
	background-position: 11px;
}



table{
	border-spacing:0px;
	margin:0 auto;
}

th {
	background-color: #e2e4e7;
	border-left: 1px solid #e2e4e7;
	color: #000;
	padding: 6px 10px;
	
}

td {
	vertical-align: top;
	padding: 5px 10px;
	border-left: 1px solid rgba(120,125,125,0.10);
}


tr td:first-child, tr th:first-child {
	border-left: 0;
}

/*Unpushed changes*/

p {
	margin : 19px 0px;
}

blockquote {
	border-left: 1px solid #cacaca;
	padding-left: 20px;
}	

blockquote p {
	padding-top: 4px;
	padding-bottom: 4px;
}
